<li [ngClass]="{'card list-group-item': true, 'disabled': car.licensed } ">

    <header (click)="getWareHouseDetails(car.id)">
        <span> {{car.make}} {{car.model}} </span>
        <span [className]="'price'"> ${{car.price}}</span>
        <span [className]="'dateAdded'">Added on {{getDateAdded(car.dateAdded)}}</span>
    </header>
    <div *ngIf="!isCollapsed">
        <table [className]="'table carDetailsTab'">
            <thead>
                <tr>
                    <td scope="col">License</td>
                    <td scope="col">Location</td>
                    <td scope="col">Year model</td>
                    <td scope="col">WareHouse</td>
                </tr>
            </thead>
            <tbody>
                <tr >
                    <td scope="row">{{getLicenseStatus(car.licensed)}}</td>
                    <td> {{car.location}}</td>
                    <td> {{car.yearModel}}</td>
                    <td> {{wareHouse.name}}</td>
                </tr>
            </tbody>
        </table>
     

    </div>
</li>